select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $dark;
    background-image: none;
  }

  select::-ms-expand {
    display: none;
  }

  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 40px;
    line-height: 40px;
    background: $dark;
    overflow: hidden;
  }

  select {
    flex: 1;
    padding: 0 .5em;
    color: $red;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #314256;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
  .select:hover::after {
    color: $red;
  }
  