.side-menu {
    width: 70px;
    height: 100vh;
    background: $white;
    color: $primary;
    box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.35);
    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-top: 25px;
        text-align: center;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        text-align: center;
        padding-top: 30px;
        li {
            padding: 15px 0px 15px 0px;
            a {
                margin: 10px;
                img {
                    width: 25px;
                }
            }
            &:hover {
                background: $grey;
            }
        }
    }
}

.is-active {
    background: $grey;
}